node_modules
.claude-flow/metrics/performance.json
.claude-flow/metrics/task-metrics.json
.next/dev/cache/turbopack/ea1df5f2/00000223.sst
.next/dev/cache/turbopack/ea1df5f2/00000224.sst
.next/dev/cache/turbopack/ea1df5f2/00000225.sst
.next/dev/cache/turbopack/ea1df5f2/00000226.meta
.next/dev/cache/turbopack/ea1df5f2/00000227.meta
.next/dev/cache/turbopack/ea1df5f2/00000228.meta
.next/dev/cache/turbopack/ea1df5f2/00000229.sst
.next/dev/cache/turbopack/ea1df5f2/00000230.sst
.next/dev/cache/turbopack/ea1df5f2/00000231.sst
.next/dev/cache/turbopack/ea1df5f2/00000232.meta
.next/dev/cache/turbopack/ea1df5f2/00000233.meta
.next/dev/cache/turbopack/ea1df5f2/00000234.meta
.next/dev/cache/turbopack/ea1df5f2/00000235.sst
.next/dev/cache/turbopack/ea1df5f2/00000236.sst
.next/dev/cache/turbopack/ea1df5f2/00000237.sst
.next/dev/cache/turbopack/ea1df5f2/00000238.meta
.next/dev/cache/turbopack/ea1df5f2/00000239.meta
.next/dev/cache/turbopack/ea1df5f2/00000240.meta
.next/dev/cache/turbopack/ea1df5f2/00000241.sst
.next/dev/cache/turbopack/ea1df5f2/00000242.sst
.next/dev/cache/turbopack/ea1df5f2/00000243.sst
.next/dev/cache/turbopack/ea1df5f2/00000244.meta
.next/dev/cache/turbopack/ea1df5f2/00000245.meta
.next/dev/cache/turbopack/ea1df5f2/00000246.meta
.next/dev/cache/turbopack/ea1df5f2/CURRENT
.next/dev/cache/turbopack/ea1df5f2/LOG

.next/
node_modules/
*.log
